{{- with pkiCert "${vault_pki_mount_path}/issue/vault-server" "common_name=${vault_fqdn}" "ttl=${vault_pki_server_cert_ttl}" -}}
{{ .Key | writeToFile "/opt/vault/tls/server.key.new" "vault" "vault" "0640" }}
{{ .Cert }}
{{ range .CAChain }}{{ . }}{{ end }}
{{- end -}}
