write_vault_agent_tls_template() {
  vault_agent_server_tls_template_file="$${1}"

  log_info "Writing Vault Agent TLS certificate template"

  cat >"$${vault_agent_server_tls_template_file}" <<EOF
${config_agent_server_tls_ctmpl}
EOF

  chown vault:vault "$${vault_agent_server_tls_template_file}"
  chmod 0644 "$${vault_agent_server_tls_template_file}"
}
