write_vault_agent_config() {
  vault_agent_config_file="$${1}"

  log_info "Writing Vault Agent configuration"

  cat >"$${vault_agent_config_file}" <<EOF
${config_agent_hcl}
EOF

  chown vault:vault "$${vault_agent_config_file}"
  chmod 0644 "$${vault_agent_config_file}"
}
