configure_snapshots() {
  vault_snapshot_config_file="$${1}"

  log_info "Configuring automated Raft snapshots"

  vault write sys/storage/raft/snapshot-auto/config/hourly \
    @"$${vault_snapshot_config_file}"

  log_info "Automated Raft snapshots configured"
}
