configure_autopilot() {
  log_info "Configuring Raft Autopilot"

  vault operator raft autopilot set-config \
    -cleanup-dead-servers=true \
    -dead-server-last-contact-threshold=10m \
    -min-quorum=${vault_minimum_quorum_size}

  log_info "Raft Autopilot configured"
}
