AUTO_JOIN_TAG_KEY="${auto_join_tag_key}"
AUTO_JOIN_TAG_VALUE="${auto_join_tag_value}"
BOOTSTRAP_CLUSTER_STATE_NAME="${bootstrap_cluster_state_name}"
BOOTSTRAP_NODE_ID_NAME="${bootstrap_node_id_name}"
